<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div {
        width: 600px;
        margin: 10px auto;
        box-sizing: border-box;
      }

      .satu {
        background-color: lightcoral;
        padding: 30px;
        border: 5px solid coral;
      }

      .dua {
        background-color: lightgreen;
        padding: 10px 50px;
        border: 10px dotted green;
      }
    </style>
  </head>
  <body>
    <div class="satu">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
      deserunt quaerat ad, saepe consectetur delectus rerum cum mollitia ullam,
      cupiditate est labore doloribus repellendus vel laboriosam! Fugit, nihil?
      Qui, obcaecati!
    </div>

    <div class="dua">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
      dolores facere quibusdam aperiam esse ut rerum minus quis. Nemo ducimus
      porro aliquid sapiente deleniti quisquam laboriosam quas natus
      perspiciatis doloribus?
    </div>
  </body>
</html>
